@{
    ViewData["Title"] = "Forgot Password";
}

<div class="d-flex flex-column align-items-center justify-content-center text-center" style="height: 75vh;">
    <h1>@ViewData["Title"]</h1>
    <input class="py-2 my-2 d-block rounded form-control" placeholder="Email" style="width: 300px;" type="email" />
    <input class="py-2 my-2 d-block rounded form-control" placeholder="Password" style="width: 300px;" type="password" />
    <button class="d-block bg-info rounded px-4 py-2 text-white my-4" style="width: 300px;">
        SUBMIT
    </button>
    <a class="fs-6 py-4 text-primary text-decoration-none" asp-area="" asp-controller="Home" asp-action="Login">Proceed to Login</a>
</div>